'.source.js':
  'New store test file template':
    'prefix': 'newtest'
    'body': """
      import { createLogger } from '@edge/log';
      import $2 from './$1-substore.js';

      const log = createLogger('$1'); // eslint-disable-line

      const { getters, mutations, actions } = $2;

      describe('Components: $1', () => {
        let state;
        let context;
        beforeEach(() => {
          state = {
            items: [],
          };
          context = {
            state,
            dispatch: jest.fn(),
            commit: jest.fn(),
          };
        });

        describe('Getters', () => {
          it('$0xyz should return something', () => {
            expect(getters.xyz(state)).toEqual(state.xyz);
          });
        });

        describe('Actions', () => {
          it('abc should commit mutation', () => {
            actions.abc(context);

            expect(context.commit).toBeCalledWith('asd');
          });
        });

        describe('Mutations', () => {
          it('asd should do something', () => {
            mutations.asd(state);

            expect(state.xyz).toEqual('something');
          });
        });
      });

    """

  'New beforeEach':
    'prefix': 'beforeEach'
    'body': """
      beforeEach(() => {
        $0
      });
    """


  'New afterEach':
    'prefix': 'afterEach'
    'body': """
      afterEach(() => {
        $0
      });
    """

  'New describe':
    'prefix': 'describe'
    'body': """
      describe('$1', () => {
        it('$2', () => {
          expect($0true).toEqual(true);
        });
      });
    """

  'New test case':
    'prefix': 'it'
    'body': """
      it('$2', () => {
        expect($0true).toEqual(true);
      });
    """
